<ion-view view-title="Choose {{amountOfCardsRemaining()}} Cards">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list">
            <input ng-model="title" placeholder="Story title" class="finished--song-title-input" type="text">
            <div class="list" style="text-align: center">
                <img class="emotion" ng-repeat="emotion in emotions" ng-class="{selected: emotion.selected}" ng-click="select(emotion)" src="{{emotion.img}}" style="width: 10vw;" alt="{{emotion.id}}">
            </div>
            <audio controls="controls" ng-if="audioFile" ng-src="{{audioFile}}"></audio>
            <div id="canvas-placeholder"></div>
            <button ui-sref="app.gallery" class="button" ng-click="share()">share!</button>
        </div>
    </ion-content>
</ion-view>