<ion-view view-title="Tiny Stories">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list">


            <div class="list card stable-bg" ng-repeat="post in stories">
                <div class="item item-avatar post-head"> <img ng-src="{{post.user.img}}">
                    <h2>{{post.user.name}}</h2>
                    <p>{{post.date | date: 'short'}}</p>
                </div>
                <div class="item item-body post-body">{{post.title}}
                    <div class="post-cards">
                        <div class="small-card" ng-repeat="card in post.cards">
                            <img ng-src="{{card.img}}">
                        </div>
                    </div>
                    <p> <a class="subdued">{{post.likes}} Tiny Loves</a> <a class="subdued">{{post.comments}} Comments</a> </p>
                    <div class="player"> </div>


                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-heart"></i> Love </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-chatbox"></i> Comment </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-share"></i> Share </a>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>