<ion-view view-title="Strat Reading!">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="read-text">
            <div class="phonetext">
                Please put the phone<br/> inside your Storybox
            </div>
            <p class="micro">Don't worry you'll get it back at the end :)</p>
            <img ng-if="!audioFile" class="phonebox" src="img/box.png">
            <audio controls="controls" ng-if="audioFile" ng-src="{{audioFile}}"></audio>
            <div id="canvas-placeholder"></div>
        </div>
    </ion-content>
</ion-view>
